.cart {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  height: auto;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fit, min-content);
  color: rgb(37, 100, 234);
  grid-template-areas:
    "title title"
    "main checkout";
    grid-template-columns: 70vw 25vw;
    grid-template-rows: 20rem auto;

}

.cart h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  grid-area: title;
  text-align: center;
  height: 5rem;
}

.title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 5rem;
  grid-area: title;
  text-align: center;
  height: 10rem;
}

.cart h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(17, 31, 80);
  border: 1px solid rgb(32, 59, 156);
  border-radius: 8px;
  margin-bottom: 2rem;
}

.checkout {
  grid-area: checkout;
  align-self: start;
  padding-left: 2rem;
}
.checkout h3 {
  font-size: 2rem;
  font-weight: bold;
}



.cartList {
  grid-area: main;
  align-self: start;
}
.empty {
  text-align: center;
  grid-area: title;
  margin-top: 30rem;

}