.header1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(15, 21, 33, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
}

.title {
  font-weight: bolder;
  font-size: 5rem;
  color: rgb(37, 100, 234);
  text-align: center;
  margin: 0;
  flex: 1;
}
