.container {
  display: grid;

  grid-template-areas:
    "header"
    "main"
    "footer";

  grid-template-columns: auto;
  grid-template-rows: calc(100vh - 15rem);
  grid-template-rows: 5rem 10fr 10rem;
}

.header {
  grid-area: header;
  background-color: darkslateblue;
  z-index: 10;
  position: relative;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}


.header {
  grid-area: header;
  background-color: darkslateblue;
}

.footer {
  grid-area: footer;
  background-color: darkslategray;
}

.grid {
  /* height: 100vh; */
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fit, min-content);
  gap: 3rem;

  /* justify-content: center; */
  /* align-content: center; */
}

.card {
  background-color: var(--primary-dark);
  border-radius: 1rem;
  color: var(--primary-contrast-light);
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  text-align: center;
  height: 20rem;
}