.container {
    margin: 0 auto;
    max-width: 80rem;
}

.div {
    background-color: var(--primary-light);
    color: var(--primary-contrast);
    box-shadow: 0 0 1rem var(--primary-color);
    padding: 3rem;
    margin: 3rem 5rem;
    border-radius: 2rem;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary-contrast);
    margin-bottom: 2rem;
}

.text {
    font-size: 2rem;
}