.container {
    display: flex;
    flex-direction: column;
    
}

.title {
    margin: 3rem;
    font-size: 10rem;
    font-weight: bolder;
    text-align: center;

    /* Telas com largura até 1200px */
    @media (max-width: 1200px) {
        font-size: 6rem;
    
        /* Telas emtre 768px e 1200px */
        @media (max-width: 768px) {
            font-size: 3rem;
        }
    }
}